/* Variables */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.body__propio {
  font-family: "Rubik", sans-serif;
  background-image: url(https://cutewallpaper.org/21/clean-wallpaper-1920x1080/1920x1080-Clean-Night-Sky-And-Mountains-Peak-1080P-Laptop-.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
  width: 100%;
}

/* Header */
.header {
  display: flex;
  width: 100%;
  height: auto;
  font-size: 20px;
  color: white;
  padding: 20px;
  position: fixed;
  top: 0;
  justify-content: space-between;
  background-color: #2B303A;
  z-index: 999;
  overflow-x: hidden;
}
.header a {
  text-decoration: none;
}

.header__logo {
  margin-left: 20px;
  margin-top: 10px;
  color: white;
  text-decoration: none;
}
.header__logo img {
  width: 150px;
}

.header__menu {
  margin-right: 20px;
  margin-top: 10px;
  flex-wrap: wrap;
}
.header__menu ul {
  display: flex;
  gap: 25px;
}
.header__menu li {
  list-style: none;
}
.header__menu li a {
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  color: white;
}
.header__menu li a:hover {
  color: orange;
}

/* Main */
.welcome {
  margin-top: 170px;
  padding: 10px;
  color: white;
  width: 100%;
}

.welcome__img {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  justify-items: center;
  justify-content: center;
  margin-top: 550px;
}
.welcome__img h3 {
  display: flex;
  justify-content: center;
  justify-items: center;
  margin-top: 10px;
}
.welcome__img img {
  width: 100%;
}

.welcome__img__container {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.welcome__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  font-size: 1.5rem;
  padding: 50px;
  text-align: center;
}
.welcome__info p {
  width: 50%;
  margin: 5px;
}

.welcome__info__img1 img {
  position: absolute;
  z-index: -1;
  opacity: 0.3;
  top: 200px;
  width: 50%;
}

.welcome__info__img2 img {
  position: absolute;
  z-index: -2;
  opacity: 0.3;
  top: 150px;
  left: 0;
  width: 50%;
}

.carousel-style {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 250px;
  margin-bottom: 100px;
}

.carousel__info {
  color: white;
  display: flex;
  justify-content: center;
}

.carousel-item h5 {
  font-size: 25px;
  font-weight: bold;
}
.carousel-item p {
  font-size: 20px;
  font-family: "Libre Franklin", sans-serif;
  color: white;
  font-weight: bold;
}
.carousel-item img {
  width: auto;
  height: 400px;
  border-radius: 100px;
  -o-object-fit: contain;
  object-fit: contain;
}

.video {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: white;
  margin-top: 320px;
}

.video__info {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  padding: 10px;
  margin-left: 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.video__info p {
  margin-top: 20px;
}

.video__frame {
  display: flex;
  justify-content: center;
}
.video__frame iframe {
  display: flex;
  height: 300px;
  width: 70%;
  justify-content: center;
}

/* Footer */
.footer {
  left: 0;
  bottom: 0;
  display: flex;
  background-color: #2B303A;
  color: white;
  margin-top: 200px;
  height: auto;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 998;
}

.footer__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
}
.footer__form p {
  margin-top: 10px;
}

.footer__social {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}
.footer__social a {
  color: #FEEFDD;
}
.footer__social a:hover {
  color: orange;
}

/* qs */
.qs__container {
  display: flex;
  justify-content: space-evenly;
  margin: 150px 20px 20px 20px;
  gap: 20px;
}

.qs__img img {
  width: 100%;
}

.qs__info {
  color: white;
  font-size: 24px;
  width: 80%;
}
.qs__info h1 {
  text-align: center;
}
.qs__info p {
  margin-top: 20px;
  text-align: center;
}

/* destinos */
.destinos__titular {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 30px;
  margin-bottom: 50px;
}

.destinos__container {
  margin: 150px 20px 20px 20px;
  width: auto;
}

.destinos__img {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  justify-items: center;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
}
.destinos__img img {
  width: 100%;
}
.destinos__img span {
  display: flex;
  color: white;
  justify-content: center;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  background-color: #2B303A;
  align-items: center;
}
.destinos__img button {
  padding: 10px;
  margin-top: 10px;
  margin: 0 auto;
  display: block;
  margin-top: 10px;
}

/* eya */
.eya__container {
  margin: 150px 20px 20px 20px;
  width: auto;
}
.eya__container .eya__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  justify-items: center;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
}
.eya__container .eya__grid div {
  width: 90%;
}
.eya__container .eya__grid img {
  width: 90%;
}
.eya__container .eya__grid span {
  display: flex;
  color: white;
  justify-content: center;
  width: 90%;
  font-size: 20px;
  font-weight: bold;
  background-color: #2B303A;
  align-items: center;
}
.eya__container .eya__grid p {
  color: white;
  width: 90%;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  text-align: center;
}

/* Contacto */
.contacto__container {
  margin: 150px 20px 20px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 40px;
}
.contacto__container .qs__info {
  padding: 10px;
}
.contacto__container .qs__info button {
  margin-top: 10px;
  padding: 5px 10px;
}

.contacto__map {
  display: flex;
  justify-content: center;
}
.contacto__map iframe {
  display: flex;
  height: 450px;
  width: 650px;
  justify-content: center;
}

/* @media */
@media (max-width: 768px) {
  .header {
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
  }
  .header__menu ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .welcome__img {
    grid-template-columns: 1fr;
    justify-items: center;
    justify-content: center;
  }
  .welcome__img img {
    width: 80%;
  }
  .welcome__info p {
    width: 100%;
  }
  .carousel-style {
    display: none;
  }
  .video {
    display: block;
  }
  .video__info {
    width: auto;
  }
  .video__info p {
    width: 80%;
  }
  .video__frame {
    width: 100%;
  }
  .body {
    width: 100%;
  }
  .contacto__map iframe {
    width: 70%;
    height: 350px;
    margin-top: 130px;
  }
  .destinos__container .destinos__img {
    width: 80%;
    margin: 0 auto;
  }
  .eya__container .eya__grid {
    grid-template-columns: 1fr;
    width: 80%;
    margin: 0 auto;
  }
}
@media (max-width: 992px) {
  .header {
    flex-wrap: wrap;
    font-size: 18px;
  }
  .qs__container {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
  }
  .qs__info {
    width: 100%;
  }
  .welcome__img {
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
  }
  .welcome__img img {
    width: 100%;
  }
  .video__frame iframe {
    width: 80%;
  }
  .video {
    display: block;
  }
  .destinos__img {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 1200px) {
  .contacto__container {
    grid-template-columns: 1fr;
  }
  .welcome__info__img1 {
    display: none;
  }
  .welcome__info__img2 {
    display: none;
  }
  .destinos__img {
    grid-template-columns: 1fr;
    width: 100%;
  }
  .destinos__titular {
    margin-top: 200px;
  }
  .eya__container .eya__grid {
    grid-template-columns: 1fr;
    width: 70%;
    margin: 0 auto;
  }
}/*# sourceMappingURL=main.css.map */